/* This is a comment */
#pen {
    height: 250px;
    width: 100%;
background-image: url("../images/pexels-janson-k-753695.png");  
background-repeat: no-repeat;  
background-size: 27%;
background-position: 100% 0%;
}



#logo {
    width: 20%;
    float: left;
    position: relative;
    z-index: 998;
}

#logo img {
   width: 85%;
}

nav {
    background-color: #AC26FF;
    height: 60px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    }

nav ul {
    margin: 0 auto;
    width: 60%;
}

nav ul li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    padding: 10px;
    background-color: #AC26FF;
    border-radius: 10px;
    border: 1px solid black;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}



h1  {
    color:  black;
    text-align: center;
    font-family: cantiga,sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 10px 10px lightgray;
}

#top-line {
    border: 2px solid black;
}

#bottom-line {
    /* color: yellow; */
    border: 5px solid yellow;
}

section {
    width: 100%;
}

section img {
    display: block;
    margin: 0 auto;
}

h2 {
    color: black;
    font-family: basco-std,serif;
    font-weight: 400;
    font-style: italic;
}

.centerit {
    text-align: center;
}

p {
    font-family: basco-std,serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* The header will include the logo and navigation */
/* Place logo in upper left hand corner of page */
/* Place menu bar on upper right side of page. Have page navigate vertical */ 
/* Place pen image in upper right hand corner of page at end of page header Kalos Artwork & Words, LLC */
/* Place social media images in footer section of document */
 p {
    color: black;
 }

 #image-block {
    height: 300px;
    background-image: url(../images/ike_0225.jpg);
    background-size: right;
 }
 
 .centerit {
    text-align: center;
 }

p {
    font-family: basco-std, serif;
    font-weight: 400;
    font-size: normal;
    text-align: justify;
    padding: 0 25%;
}
#review {
    height: 60%;
    width: 60%;
}

#events {
    height: 350px;
    background-image: url(../images/dove-g3d2529f52_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .content-section {
      height: 450px;
      background-color:gold;
      width: 100%;
 }
 img {
    width: 30%;  
 }

 #products img  {
    width: 15%;
 }

  
 #social img {
    height: 1%;
    width: 1%;
    background-image: url("../images/Instagram\ Logo.jpg");
    background-image: url("../images/Facebook\ Logo.jpg") ;
    background-image: url("../images/Email\ Logo.jpg");
    background-repeat: no-repeat;
    float: left;
 }

 .centerit {
    text-align: center;
 }